body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    background-color: #444;
    color: #fff;
}

.screen {
    background-color: #555;
    text-align: right;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    font-size: 32px;
}

#result {
    font-size: 36px;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    font-size: 24px;
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #888;
}

button#clear {
    background-color: #ff4040;
}
button#allclear {
    background-color: #ff4040;
}

button#blankbutton {
    background-color: black;
}

button#clear:hover {
    background-color: #ff3333;
}

button#calculate {
    background-color: #4caf50;
}

button#calculate:hover {
    background-color: #45a049;
}
